html, body {
    height: 100%;
    background-color: #D1F0FC;
    margin: 0;
}

.main {
    text-align: center;
    color: #000000;
    position: relative;
}

.main h1{
    text-align: center;
    font-size: 72px;
    color:#000000;
}

.main h2{
    text-align: center;
    font-size: 36px;
    color:#000000;
}

.main h3{
    text-align: center;
    font-size: 24px;
    color:#000000;
}

.main p{
    text-align: center;
    color: #000000;
    font-size: 20px;
}

.container {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 40px);
    margin-top: 40px;
}

.main a {
    color: red;
}


