<html>
    <body>
        <div class = "background">
            <img src="assets/cyberblaze/background_blurred.png" class="width" style="opacity: 1;">
        </div>
        <div class="main">
            <div class="container">
                <h1>Cyberblaze</h1>
                <h2 style="">Defend the data stream!</h2>

                <h3>
                    Cyberblaze is a wave defense shooter in which you are left to fend for yourself.
                    <br />Fighting off swarms off enemies with a varied arsenal.
                </h3>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            You must use everything at your disposal to defend yourself.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <iframe src="https://www.youtube.com/embed/QzIq6AkRsIQ"></iframe>
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            Featuring a varied roster of enemies, weaponry and a simplistic, blocky art style.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/cyberblaze/3.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            The more you play the game, the more powerful you become thanks to a simple
                            <br /> progression system, with levelling, XP gain, game modifiers, skills and more!
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/cyberblaze/2.png">
                    </div>
                </div>

                <p style="font-size:24px;">Cyberblaze on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/cyberblaze')">Link</a>
                </p>
                <br />

                <br />

                <p>Cyberblaze - Released May 2020</p>
                <p>Genre - Wave Defense</p>
                <p>Engine - Unity</p>
            </div>
        </div>
    </body>
</html>
