<html>
    <body>  
        <div class = "background">
            <img src="assets/regularSmileLarge.png" class="height">
        </div>
        <div class="main">
            <div class="container">
                <h1>My Portfolio of Games</h1>
                <h3>All of my games have been developed in the Unity engine.</h3>
                <h3>Click any of the buttons below to be taken to the related game's page.</h3>

                <br />
                <div class = "gameContainer">
                    <p>In Development</p>
                    <img src = "assets/security-room/button_text.png" (click)="goToLink('/games/security-room')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2025</p>
                    <img src = "assets/buddy/button_text_mobile.png" (click)="goToLink('/games/buddy')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2023</p>
                    <img src = "assets/seven-favours/button_text.png" (click)="goToLink('/games/seven-favours')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2022</p>
                    <img src = "assets/fumbling-wizard/button_text.png" (click)="goToLink('/games/fumbling-wizard')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2021</p>
                    <img src = "assets/goobers/button_text.png" (click)="goToLink('/games/goobers')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2020</p>
                    <img src = "assets/cyberblaze/button_text.png" (click)="goToLink('/games/cyberblaze')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2019</p>
                    <img src = "assets/buddy/button_text.png" (click)="goToLink('/games/buddy')">
                    <div class="vertical-line"></div>
                </div>

                <div class = "gameContainer">
                    <p>2016</p>
                    <img src = "assets/slaughter-lands/button_text.png" (click)="goToLink('/games/slaughter-lands')">
                    <!-- <div class="vertical-line"></div> -->
                </div>
            </div> 
        </div>
    </body>
</html>
<router-outlet></router-outlet>
