<html>
    <body>  
        <div class = "background">
            <img src="assets/regularSmileLarge.png" class="height">
        </div>
        <div class="main">
            <div class="container">
                <h1>My Blog!</h1>
                <h3 style="line-height: 0;">Insert inane rambling here.</h3>

                <br />

                <ol>
                    <li *ngFor="let index of blogHeadings">
                        <div class = "blogContainer">
                            <pre><p>Blog #{{ blogIndex(index)+1 }}</p></pre>
                            <a [routerLink]="['/blogs', blogIndex(index)]">{{ index }}</a>
                            <div class="vertical-line" *ngIf="blogIndex(index) != 0"></div>
                        </div>
                    </li>
                </ol>
            </div> 
        </div>
    </body>
</html>
<router-outlet></router-outlet>
