<html>
    <body>  
        <div class = "background">
            <img src="assets/regularSmileLarge.png" class="height">
        </div>
        <div class="main">
            <div class="container">
                <h1>My Portfolio of Games</h1>
                <h3 style="line-height: 0;">All of my games have been developed in the Unity engine.</h3>
                <h3 style="line-height: 0;">Click any of the buttons below to be taken to the related game's page.</h3>

                <br />

                <li *ngFor="let index of createBlogRange()">
                    <div class = "gameContainer">
                        <p>Blog #{{ index+1 }}</p>
                        <a [routerLink]="['/blogs', index]">{{ blogHeadings[index] }}</a>
                        <div class="vertical-line"></div>
                    </div>
                </li>
                <div class = "gameContainer">
                    <p>In Development</p>
                    <img src = "assets/security-room/button_text.png" (click)="goToLink('/games/security-room')">
                    <div class="vertical-line"></div>
                </div>
            </div> 
        </div>
    </body>
</html>
<router-outlet></router-outlet>
