<html>
    <body>
        <div class = "background">
            <img src="assets/buddy/buddy_blurred.png" class="width" style="opacity: 1; transform: translateY(-10%);">
        </div>
        <div class="main">
            <div class="container">
                <h2>Buddy - Android Privacy Policy</h2>

                <!-- <h3>
                    Buddy is a short point and click horror game in which you must escape from a room controlled by the eponymous Buddy.
                    <br />Will you make out before he catches you?
                </h3> -->
                <div class="textchunk">
                    <span style="font-size: 24px">This privacy policy is designed to help you understand how data may be collected from your interactions with the
                        Android port of the game "Buddy", hosted on Google Play.
                    </span>

                    <h3>What data will be collected?</h3>
                    <span>No data is collected under any circumstances from playing the game. There is no means for the game to
                        collect data through play, it does not communicate with anything that requires transferral of data. It is an entirely offline experience.

                        <br><br>Contact information may be obtained and retained when you, the user, reach out to me at my support email.

                        <br><br>This game uses Unity Ads for advertising, which may use and collect anonymous data about your interests to customize advertising.
                        Interest and location data may be linked to your device, but not your identity. Please check the link below to see Unity's Privacy Policy and
                        opt-out capabilities.
                        <br>Unity Privacy Policy - <a href="https://unity.com/legal/privacy-policy">https://unity.com/legal/privacy-policy</a>
                    </span>

                    <h3>Why will this data be collected?</h3>
                    <span>Contact information will be collected and utilised for the following:
                        <br>- To support you as the user with the game
                        <br>- For further contact regarding support or game issues
                    </span>

                    <h3>Safeguarding</h3>
                    <span>Any information that is collected is generally not retained for any longer than is necessary. When data is retained, it will be kept confidential.
                        I will not share any of your data with third parties or sell your data. Data may be disclosed if required by law.
                    </span>

                    <h3>Contact</h3>
                    <span>If you wish to get in contact with me for support purposes, have any questions, or want to opt-out of having contact information retained, you can contact me at
                        leif.unity3dbusiness&#64;gmail.com
                    </span>

                    <br/>
                    <br/>

                    <p style="line-height: 4px;">
                        <a href="games/buddy">Return to Buddy Page</a>
                    </p>
                </div>
                

                <!-- <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            You must use your wits and the tools available to you to escape from Buddy's room.
                            <br />Or die trying.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <iframe src="https://www.youtube.com/embed/DnWv-3VoGD0"></iframe>
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            The game is all hand-drawn artwork, created by myself in Paint Tool SAI
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/buddy/1.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            There are many endings to obtain, each with unique outcomes.
                            <br /> Some good. Some bad.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/buddy/2.png">
                    </div>
                </div>

                <h2 style="line-height:36px">Enter, if you dare.</h2>
                <p style="font-size:24px;line-height:0px">Buddy on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/buddy')">Link</a>
                </p>
                <p style="font-size:24px;line-height:0px">Buddy on indieDB: 
                    <a (click)="navigateToUrl('https://www.indiedb.com/games/buddy1')">Link</a>
                </p>
                <br />

                <br />

                <p style="line-height: 4px;">Buddy - Released January 2020</p>
                <p style="line-height: 4px;">Genre - Point and Click, Horror</p>
                <p style="line-height: 4px;">Engine - Unity</p> -->
            </div>
        </div>
    </body>
</html>
