html, body {
    height: 100%;
    background-color: #5C5C5B;
    margin: 0;
}

.main {
    text-align: center;
    color: #FFFFFF;
}

.main h1{
    text-align: center;
    font-size: 3vw;
    color:#FFFFFF;
}

.main h2{
    text-align: center;
    font-size: 1.5vw;
    color:#FFFFFF;
}

.main h3{
    text-align: center;
    font-size: 1vw;
    color:#FFFFFF;
}

.main p{
    text-align: center;
    color: #FFFFFF;
    font-size: 1vw;
}

.container {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 45px);
    margin-top: 45px;
    background-image: url("../../../assets/security-room/background_blurred.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #383838;
}

.main a {
    color: red;
}


