<html>
    <body>
        <div class = "background">
            <img src="assets/security-room/background_blurred.png" class="width" style="opacity: 1;">
        </div>
        <div class="main">
            <div class="container">
                <h1>The Security Room</h1>
                <h2>The only thing between you and the next living thing is a series of cameras. Use them wisely.</h2>

                <h3>
                    The Security Room is a first person horror game in which you find yourself locked in a mysterious room, 
                    <br />and the only
                    glimmer of hope is this strange facility's camera system.
                    <br /> Will it be enough to help you
                    escape the horrors that lurk ahead?
                    <br />
                </h3>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            An atmosphere-driven, PSX inspired horror game.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <iframe src="https://www.youtube.com/embed/Y8vhalTeo5g?si=prCYG5KGCQpHMdd3"></iframe>
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            Awakening with no prior memories or knowledge, and no way to get out. Your only hope lies in the room's last functioning computer screen, and whatever tools the security system may hold.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/security-room/1.png">
                    </div>
                </div>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            Using a hybrid of the First Person and Camera/Surveillance styles of gameplay, your investigative skills, memory and time-management abilities will be tested.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/security-room/6.png">
                    </div>
                </div>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            But be warned, you're not alone... 
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/security-room/5.png">
                    </div>
                </div>

                <p style="font-size:24px;color:#FFFFFF;">The Security Room on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/the-security-room')">Link</a>
                </p>

                <!-- <h2 style="line-height:36px">Enter, if you dare.</h2> -->
                <br />

                <br />

                <p>The Security Room - Released December 2025</p>
                <p>Genre - First Person, Fixed Camera, Horror</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
