<html>
    <body>
        <div class = "background">
            <img src="../../../assets/security-room/background_blurred.png" class="width" style="opacity: 1; transform: translateY(-20%);">
        </div>
        <div class="main">
            <div class="container">
                <h1 style = "line-height:0px;">The Security Room</h1>
                <h2 style="line-height:0px">The only thing between you and the next living thing is a series of cameras. Use them wisely.</h2>

                <h3>
                    The Security Room is a first person horror game in which you find yourself locked in a mysterious room, 
                    <br />and the only
                    glimmer of hope is this strange facility's camera system.
                    <br /> Will it be enough to help you
                    escape the horrors that lurk ahead?
                    <br />
                    <br />Currently in development.
                </h3>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            You must use anything you find in the room to your advantage.
                            <br />You never know when it'll come in handy in this strange place.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <iframe src="https://www.youtube.com/embed/mM4oLNKi8h8"></iframe>
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            Placeholder screenshot, game's still in development after all :)
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="../../../assets/buddy/1.png">
                    </div>
                </div>

                <!-- <h2 style="line-height:36px">Enter, if you dare.</h2> -->
                <br />

                <br />

                <p style="line-height: 4px;">The Security Room - Currently in development</p>
                <p style="line-height: 4px;">Genre - First Person, Fixed Camera, Horror</p>
                <p style="line-height: 4px;">Engine - Unity</p>
            </div>
        </div>
    </body>
</html>
