<html>
    <body>
        <div class = "background">
            <img src="assets/fumbling-wizard/background_blurred.png" class="width" style="opacity: 1;">
        </div>
        <div class="main">
            <div class="container">
                <h1>The Fumbling Wizard</h1>
                <h2 style="">How long can you keep the meteor at bay?</h2>

                <h3>
                    The Fumbling Wizard is a short game developed for Ludum Dare 50!
                    <br />You must protect us from the impending meteor for as long as possible.
                    <br />It ranked 526th overall, out of 2901 entries.
                </h3>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            A meteor will strike soon.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/fumbling-wizard/4.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            You must cast a spell to keep it at bay...
                            <br />...but someone mixed up the words in your spellbook.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/fumbling-wizard/2.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            And that's not even all! The spell requires potions, and their
                            <br />effects may not be all too healthy on you.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/fumbling-wizard/3.png">
                    </div>
                </div>

                <p style="font-size:24px;">The Fumbling Wizard on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/the-fumbling-wizard')">Link</a>
                </p>
                <br />

                <br />

                <p>Cyberblaze - Released April 2022</p>
                <p>Genre - First Person, Puzzle</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
