<html>
    <body>
        <div class="main">
            <div class="container">
                <h1>My Portfolio of Games</h1>
                <h3 style="line-height: 0;">All of my games have been developed in the Unity engine.</h3>
                <h3 style="line-height: 0;">Click any of the buttons below to be taken to the related game's page.</h3>

                <br />
                <div class = "gameContainer">
                    <img src = "../../assets/security-room/button_text.png" (click)="goToLink('/games/security-room')">
                </div>

                <div class = "gameContainer">
                    <img src = "../../assets/seven-favours/button_text.png" (click)="goToLink('/games/seven-favours')">
                </div>

                <div class = "gameContainer">
                    <img src = "../../assets/buddy/button_text.png" (click)="goToLink('/games/buddy')">
                </div>
            </div> 
        </div>
    </body>
</html>
