<html>
    <body>
        <div class = "background">
            <img src="assets/slaughter-lands/background_blurred.png" class="width" style="opacity: 1;">
        </div>
        <div class="main">
            <div class="container">
                <h1>Slaughter Lands</h1>
                <h2>How long can you survive?</h2>

                <h3>
                    Slaughter Lands is a Call Of Duty Zombies inspired game, in which the player must survive against hordes of the undead.
                </h3>

                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            This game holds a special (if janky) place in my heart, as it is
                            <br />the first Unity game I ever made.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/slaughter-lands/1.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            It was in development since 2015, when I was 13.
                            <br />And has gone over many, MANY iterations.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/slaughter-lands/2.png">
                    </div>
                </div>
                <div class="screenshot">
                    <div class="screenshothalf">
                        <span>
                            Sadly the game is no longer in development, due to countless issues
                            <br />arising from Unity deprecating JavaScript and other asset troubles
                            <br />as the engine was updated.
                        </span>
                    </div>
                    <div class="screenshothalf">
                        <img src="assets/slaughter-lands/3.png">
                    </div>
                </div>

                <p style="font-size:24px;">Slaughter Lands on itch.io: 
                    <a (click)="navigateToUrl('https://surr-sloidah.itch.io/slaughter-lands')">Link</a>
                </p>
                <br />

                <br />

                <p>Slaughter Lands - Released September 2016</p>
                <p>Genre - First Person Shooter, Horror</p>
                <p>Engine - Unity</p>
                <br /><br />
            </div>
        </div>
    </body>
</html>
