<html>
    <body>
        <div class = "background">
            <img src="assets/branding/banner_youtube.png" style="opacity: 0.2;" class="height">
        </div>
        <div class="main">
            <div class="container">
                <div class="image-holder" id="imageholder"></div>
                <div class="text">
                    <h1>{{ blogHeading }}</h1>
                    <h3>{{ blogSubtitle }}</h3>
                    <h3>{{ blogDate }}</h3>
                    <p>{{ blogText }}</p>
                </div>
            </div>
            
        </div>
        
    </body>
</html>