<html>
    <body>
        <div class = "background">
            <img src="assets/branding/banner_youtube.png" style="opacity: 0.2;" class="height">
        </div>
        <div class="main">
            <div class="container">
                <div class="profile-picture">
                    <img src="assets/branding/pfp_circular.png">
                </div>
                <div class="text">
                    <h1>Leif Kemp</h1>
                    <h3>Software & Data Engineer<br>Hobbyist Game Developer</h3>
                    <p>Hi there! I'm Leif Kemp, and welcome to my portfolio! 
                    <br />This portfolio website is built in Angular and was developed during the downtime in my placement year.
                    <br />I've been chipping away at it here and there when I get the time.
                    </p>
                    <br />
                    <p>On this website you can find a list of all of my games, new, old and upcoming.
                        <br /> You can also find the certifications I have obtained, as well as some experiments I've done for this site;<br>a custom blog.
                    </p>
                </div>
            </div>
        </div> 
    </body>
</html>