<html>
    <body>
        <div class = "background">
            <img src="assets/branding/banner_youtube.png" style="opacity: 0.2;" class="height">
        </div>
        <div class="main">
            <div class="container">
                <div class="profile-picture">
                    <img src="assets/branding/pfp_circular.png">
                </div>
                <div class="text">
                    <h1>Leif Kemp</h1>
                    <h3>Software Engineer and Hobbyist Game Developer</h3>
                    <p>Hi there! I'm Leif Kemp, and this is my own little webpage. 
                    <br />This site is currently under construction, but hopefully it'll turn out okay!
                    </p>
                    <br />
                    <p>On this website you can find a list of all of my games, new, old and upcoming.
                        <br /> As well as any other projects I've taken part in.
                    </p>
                    <br />
                    <p>
                        I'm currently trying to automate the deployment of this page, hopefully it works!
                    </p>
                </div>
            </div>
        </div> 
    </body>
</html>