<html>
    <body>
        <div class="main">
            <div class="container">
                <h1>Leif Kemp</h1>
                <h3>Software Engineer and Hobbyist Game Developer</h3>
                <br />
                <p>Hi there! I'm Leif Kemp, and this is my own little webpage. <br />This site is currently under construction, but hopefully it'll turn out good!</p>
                <p>Further nonsense here</p>
                <a routerLink='test'>Link for further nonsense</a>
            </div>
            <div class = "background">
                
            </div>
        </div>
    </body>
</html>